<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="stylesheet" href="/assets/css/styles.css">
  

{% include head.html %}

<body class="{% if site.data.settings.color_scheme == "auto" %}scheme--toggle{% else %}scheme--{{ site.data.settings.color_scheme }}{% endif %}">
  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}
  {% include header.html %}
  {{ content }}
</body>

</html>
