<!-- row-about 6 -->
<div class="row-about color-6">
    <div class="new-model-section">
        <div class="h1">
            <h1>{{ site.data.about.section6_settings.title }}</h1>
        </div>


        <div class="col-layout-second">
            <h3 class="h3-style">{{ site.data.about.section6_settings.disrupting_law_school.title }}</h3>
            <p>{{ site.data.about.section6_settings.disrupting_law_school.description }}</p>
            <a href="{{ site.data.about.section6_settings.disrupting_law_school.link }}" class="button" target="self">READ</a>
        </div>

        <div class="col-layout-third">
            <h3 class="h3-style">{{ site.data.about.section6_settings.igniting_law_teaching.title }}</h3>
            <p>{{ site.data.about.section6_settings.igniting_law_teaching.description }}</p>
            <a href="{{ site.data.about.section6_settings.igniting_law_teaching.link }}" class="button" target="self">WATCH</a>
        </div>
    </div>
</div>
