<div class="row-about color-3">
    <div class="new-model-section">
        <div class="quote-wrapper">
            “{{ site.data.about.section5_settings.quote }}”
        </div>
        <div class="author-wrapper">
            <p class="author">{{ site.data.about.section5_settings.author }}</p>
        </div>
        <div class="details-wrapper">
            <p class="title">{{ site.data.about.section5_settings.title }}</p>
            <p class="organization">{{ site.data.about.section5_settings.organization }}</p>
        </div>
    </div>
</div>
