<!-- Row 3 -->
<div class="row color-3">
    <div class="new-model-section">
        <div class="quote-wrapper">
                {{ site.data.why.section2_settings.quote }}
        </div>
        <div class="author-wrapper">
            <p class="author">{{ site.data.why.section2_settings.author }}</p>
        </div>
        <div class="details-wrapper">
            <p class="title">{{ site.data.why.section2_settings.title }}</p>
            <p class="organization">{{ site.data.why.section2_settings.organization }}</p>
        </div>
    </div>
</div>
