{% if site.data.home.section5_settings.enable %}
<!-- Row 3 -->
<div class="row color-3">
    <div class="new-model-section">
        <div class="quote-wrapper">
            "{{ site.data.home.section5_settings.quote }}"
        </div>
        <div class="author-wrapper">
            <p class="author">{{ site.data.home.section5_settings.author }}</p>
        </div>
        <div class="details-wrapper">
            <p class="title">{{ site.data.home.section5_settings.title }}</p>
        </div>
    </div>
</div>
{% endif %}
