<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  <link rel="stylesheet" href="/assets/css/why.css">
  

{% include head.html %}

<body>
  {% if site.data.settings.google-analytics %}
      {% include google-analytics.html %}
  {% endif %}
  {% include header.html %}
  <div class="container">
    {% include why-row1.html %}
    {% include why-row2.html %}
    {% include why-row3.html %}
    {% include why-row4.html %}
    {% include why-row5.html %}
    {% include section-footer.html %}
  </div>
</body>

</html>
